body {
    background: rgb(243, 244, 245);
    height: 100%;
    color: rgb(100, 108, 127);
    line-height: 1.4rem;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

h1 {
    text-align: center;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.dz-message {
    font-size: 16px;
    color: rgb(135, 146, 172);
}

.dropzone .dz-preview .dz-image {
    border: 2px dashed rgb(201 202 206);
}

.dz-remove {
    text-decoration: none;
    color: #646c7f;
    font-weight: bold;
}

.text-remove {
    padding: 0px 8px 0px 8px;
    background: #d45252;
    width: fit-content;
    margin: 5px auto;
    border-radius: 5px;
    cursor: pointer !important;
    text-decoration: none !important;
    color: #fff;
    font-weight: bold;
}

.copy-path {
    padding: 0px 8px 0px 8px;
    background: #52d45f;
    width: fit-content;
    margin: 5px auto;
    border-radius: 5px;
    cursor: pointer !important;
    text-decoration: none !important;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.preview-file {
    padding: 2px 8px 2px 8px;
    background: #c4a932;
    width: fit-content;
    margin: 5px auto;
    border-radius: 5px;
    cursor: pointer !important;
    text-decoration: none !important;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}

.not_exist_js {
    text-align: center;
}

.preview_file {
    text-align: center;
    padding: 10px;
    border: 2px dashed rgb(0, 135, 247);
    border-radius: 5px;
    background: #fff;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.zoomWindow {
    cursor: zoom-in !important;
}

.container {
    max-width: 1440px;
    margin: 30px auto;
    width: 80%;
}

.container .text-item {
    margin-bottom: 30px;
}

.container .text-item-lable {
    font-size: 30px;
    margin-bottom: 15px;
}

.container .text-item-content {
    background: #fff;
    border: solid 1px;
    border-radius: 5px;
    padding: 15px;
}

.form {
    padding: 15px 0;
}

.form input {
    display: block;
    margin-bottom: 30px;
    width: 100%;
}

.form label {
    margin-bottom: 15px;
}

.small-container {
    max-width: 600px;
    margin: 30px auto 0;
}

.small-container h2 {
    text-align: center;
}

.error-msg {
    color: #ff2222;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.menu-left a, .menu-right a {
    color: #646c7f;
    margin: 0 -3px;
    padding: 15px;
    font-weight: bold;
}

.menu-left :hover, .menu-right a:hover {
    color: #0087f7;
    text-decoration: none;
}

.menu .selected {
    color: #0087f7;
}

.header-menu {
    background: #fff;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.header-menu .container {
    margin: 15px auto;
}

.account {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.account .info {
    background: lightblue;
    flex: 1;
    padding: 15px;
    height: fit-content;
    margin-right: 15px;
}

.account .none {
    flex: 1;
    padding: 15px;
    height: fit-content;
    margin-right: 15px;
}

.account .info h4 {
    margin-bottom: 20px;
}

.account .items-management {
    background: #fff;
    flex: 3;
    padding: 15px;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
}

.card {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-top: 150px;
}

.title-header {
    font-size: 30px;
    font-weight: bold;
}

input {
    height: 40px;
    border: #0087f7 1px solid;
    border-radius: 6px;
}
.times-download {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
}
.times-download select{
    text-align: center;
    border: 2px solid rgb(0, 135, 247);
    border-radius: 4px;
    color: #fff;
    background: rgb(0, 135, 247);
}
.times-download-count {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: 2px solid rgb(0, 135, 247);
    border-radius: 4px;
    color: #fff;
    background: rgb(0, 135, 247);
    padding: 2px 5px;
}
.about-vip {
    background-color: #d1d1d1;
    padding: 10px;
    margin: 20px 0px;
    font-size: 14px;
}
